body {
    font-family: Arial;
    margin: 0 auto;
    width: 100%;
}
.myhead {              
    height: 98px;    /*задание высоты шапки*/
    background-color: white;
}
.logo {
    padding-top: 37px;
    float: left;    /*логотип прижимается к левому краю */
    margin-left: 80px;
    
}
nav{
    float: right;   /*перенос ссылок в навигационном меню направо*/
}
ul {
    list-style-type: none;
    
}
nav li {
    float: left;
    margin: 50px 70px 0 0;
    font-size: 16px;
    margin-right: 80px;      
}
nav li a {
    color: black;
    text-decoration: none;  /*убрали нижнее подчёркивание в ссылках в хедаре*/
    
}
nav li a:hover {    /*переопределение тегов nav-li-a в хедаре, чтоб подсвечивалось оранжевым при наведении курсора*/
    color: white;
    background-color: #ffbb42;
}
.blueBlock {
    height: 520px; 
    background-color: #709dca;    
    width: 100%;
}
.title {
    padding-top: 113px;
    
}
.title__main {
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    
}
.title__paragraph {
    font-size: 16px;
    color: white;
    text-align: center;

}
.formLogin {
    text-align: center;
    margin-top: 38px;
    
}
.formLogin__name {
    background-image: url(../man.png) ;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    padding-left: 30px;
    width: 254px;
    height: 48px;
    border-radius: 3px;
    border: none;
}
.formLogin__email {
    background-image: url(../mail.png) ;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    padding-left: 30px;
    width: 254px;
    height: 48px;
    border-radius: 3px;
    border: none;
}
.formLogin__tel {
    background-image: url(../phone.png) ;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    padding-left: 30px;
    width: 254px;
    height: 48px;
    border-radius: 3px;
    border: none;
}
.formLogin__button {
    text-align: center;
    width: 212px;
    height: 50px;
    text-transform: uppercase;
    background-color: #ffbb42;
    color: white;
    border-radius: 3px;
    border: none;
}
.slider {
    width: 38%;
    height: 52%;
    margin-left: 30%;
    margin-top: 65px;
}

.whiteBlock {
    height: 919px;
    background-color: white;
    padding-top: 203px;
}
.titleBlack__main {
    font-size: 30px;
    text-transform: uppercase;
    color: #394b50;
    text-align: center;
    font-weight: bolder;
}
.titleBlack__paragraph {
    font-size: 16px;
    color: #394b50;
    text-align: center;
}
.subtitle {
    display: flex;
    width: 50%;
}
.subtitle_test {
    display: flex;
    width: 90%;
    height: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 100px;
}

.subtitleIcon__icon {
    width: 49px;
    height: 45px;
    margin-right: 38px;    
}
.subtitleText__main {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px; 
    color: #394b50;  
}
.subtitleText__paragraph{
    font-size: 13px;
    margin-top: 24px;
    line-height: 24px;
    color: #8d8d8d; 
}
.orangeBlock {
    height: 624px;
    background-color: #ffc155;
    color: white;
}
.orangeBlock__img {
    width: 50%;
    height: 624px;
    float: left;
    margin-right: 70px;
}
.orangeBlockText {   
padding-top: 160px;
}
.orangeBlockText__main {
    font-size: 30px; 
    text-transform: uppercase; 
    font-weight: bold;  
}
.orangeBlockText__paragraph {
    font-size: 13px; 
    line-height: 24px;
    padding-top: 30px;
    padding-bottom: 60px;
}
.orangeBlockText__button {
    font-size: 14px;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    background-color: #ffc155; 
    border: 1px solid #e7ad48;
    color: white;
    border-radius: 3px;  
}
.paleblueBlock {
    height: 891px;
    background-color: #e7edf3;
    padding-top: 150px;
}
.priceBlock {
    display: flex;
    width: 90%;
    height: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 87px;
    text-align: center;
    text-transform: uppercase;
}
.mainBlock {
    width: 390px;
    height: 442px;
    background-color: white;
    border-radius: 5px;
}
.mainBlock:hover {
    background-color: #709dca;
    transform: scale(1.2);
}
.mainBlock:hover .usd {
    color: white;   
}
.mainBlock:hover .usd {
    color: white;
}
.mainBlock:hover h2 {
    color: white;
}
.mainBlock:hover .price  {
    color: white;
}
.mainBlock:hover .perMonth {
    color: white;
}
.border {
    width: 330px;
    border-bottom: 1px solid;
    color: #e2e9f0;   
    margin: auto;
}
h2 {
    margin-top: 57px;
    color: #b5bbc1;
    font-size: 22px;
    font-weight: inherit;
}

p {
    color: #b5bbc1;
    font-size: 13px;
}
.mainBlock__button{
    text-align: center;
    width: 130px;
    height: 40px;
    text-transform: uppercase;
    background-color: #ffbb42;
    color: white;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
    font-size: 13px;
}
.usd {
    font-size: 30px;
    color: #ffbb42;
}
.price {
    font-size: 60px;
    color: #ffbb42;
}
.perMonth {
    font-size: 17px; 
    color: #b5bbc1;
    margin-bottom: 30px;
}

.whiteBlockTwo {
    height: 860px;
    background-color: white;
    padding-top: 150px;
    text-align: center;  
}
.commonStepsBlock {
    display: flex;
    width: 90%;
    height: 50%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 82px;
    text-align: center;
    
}
.stepsBlock {
    
}
.stepsBlock__icon {
    width: 59px;
    height: 56px;
}
.stepsBlock__title {
    color: #394b50;
    font-size: 20px;
    line-height: 22px;
    font-weight: inherit;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
}
.stepsBlock__paragraph {
    color: #394b50;
    font-size: 13px;
    line-height: 22px;
}
.whiteBlockTwo__button {
    font-size: 14px;
    text-transform: uppercase;
    width: 165px;
    height: 47px;
    background-color: #ffc155; 
    color: white;
    border-radius: 3px; 
    border: none;
    
}
.orangeBlockTwoTitle {
    text-align: center;
    margin-bottom: 70px;
}
.orangeBlockTwo {
    height: 910px;
    background-color: #ffc155;
    padding-top: 140px;
 
}
.orangeBlockTwo__main {
    color: white;
    font-size: 30px;
    line-height: 22px;
    font-weight: bold;
}
.orangeBlockTwo__paragraph {
    color: white;
    font-size: 16px;
    line-height: 22px;
    
}
.quoteBlockMain {
    width: 87%;
    height: 515px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.quoteBlock {
    width: 569px;
    height: 246px;
    background-color: white;
    display: flex;
}
.quoteBlock__img {
    border-radius: 50%;
    height: 38%;
    margin-left: 30px;
    margin-top: 45px;
}
.quoteBlock__blockquote {
    color: #7b7b7b;
    font-size: 13px;
    line-height: 22px;
    margin-top: 45px;

}
.quoteBlock__name {
   color: #f6772c;
   text-transform: uppercase;
   font-size: 14px;
   margin-left: 40px;

}
.quoteBlock__profession {
    color: #99a9ae;
    text-transform: uppercase;
    font-size: 14px;
    
}
.newsBlack {
    height: 930px;
    background-color: white;
    margin-top: 150px;
     
}
.newsBlackFormLogin {
    margin-top: 45px;
    text-align: center;   
}
.newsBlackFormLogin__name {
    background-image: url(../man.png) ;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    padding-left: 30px;
    width: 308px;
    height: 48px;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    margin-right: 10px;
}
.newsBlackFormLogin__email {
    background-image: url(../mail.png) ;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    padding-left: 30px;
    width: 388px;
    height: 48px;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    margin-right: 10px;
}
.newsBlackFormLogin__button {
    text-align: center;
    width: 218px;
    height: 52px;
    text-transform: uppercase;
    background-color: #ffbb42;
    color: white;
    border-radius: 3px;
    border: none;
    margin-bottom: 44px;
}
.newsBlackBackground {
    width: 50%;
    height: 50%; 
    margin-left: 7%;
    margin-top: 50px;
    position: absolute; 
    background-repeat: no-repeat;  
}
.newsBlackCirkle {
    background-image: url(../cirkle1.png);
    width: 290px;
    height: 295px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 90px;
    position: relative;
       
}
.newsBlackCirkleMain {
    text-align: center;
    padding-top: 60px;
}
.newsBlackCirkle__title {
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    line-height: 22px;
    

}
.newsBlackCirkle__paragraf {
    font-size: 13px;
    color: #aeb7ba;
    line-height: 22px;
}
.newsBlackCirkle__email {
    font-size: 13px;
    text-decoration: none;
    color: #ebaf44;
    line-height: 22px;
}
.newsBlackCirkle__img {
    background-repeat: no-repeat;
    margin-top: 110px;
    position: relative;
    margin-left: 115px;
}
.footerList {
    height: 100px;
    font-size: 13px;
    float: initial;
}
.line {
    border: 1px solid  #aeb7ba;
    width: 1170px;
    margin-left: 100px;
    /* margin-right: 265px; */
}
.tel {
    text-align: center;
}
.socialNetwork {
    text-align: center;
    margin-top: 22px;
}
.footerBlue {
    height: 44px;
    background-color: #709dca;
    margin-top: 50px;
    
}
.footerText {
    color: white;
    text-align: center;
    padding-top: 13px;
}



@media screen and (min-width: 400px) and (max-width: 700px){
    .blueBlock {
        height: 786px;
    }
    .formLogin__email {
        margin-top: 10px;
    }
    .formLogin__button {
        margin-top: 10px;
    }
    .slider {
        width: 64%;
        height: auto;
        margin-left: 17%;
        margin-top: 65px;
    }
    .whiteBlock {
        height: 1511px;
    }

    .orangeBlockText__paragraph {
        font-size: 11px;
        line-height: normal;
        height: 320px; 
    }

    .paleblueBlock {
        height: 1519px;
    }
    
}

    @media screen and (max-width: 1024px) {
        .title__main  {
            margin-top: 64px;
        }

        .formLogin__tel {
            margin-top: 11px;
        }
        .orangeBlockTwo {
            height: 1129px;
        }
    
        .backgroundKarta {
            width: 170%;
        }
        .line {
        width: auto;
        }
        .newsBlackFormLogin__email {
            margin-top: 30px;
        }

        .paleblueBlock {
            height: auto;
        }
    }


    
